{
    "dialogflow": {
        "token": ""
    },
    "http": {
        "port": 9999
    },
    "api-train": {
        "host": "https://api.train.cat",
        "username": "",
        "password": ""
    },
    "cards-generator": {
        "host": "https://cards-generator.train.cat"
    },
    "bot": {
        "debug": true,
        "token": "",
        "telegram": {
            "token": ""
        },
        "messenger": {
            "page_token": "",
            "verify_token": "",
            "secret_key": ""
        }
    },
    "influxdb": {
        "host": "",
        "username": "",
        "password": "",
        "database": "",
        "measurement": "bot"
    }
}
